.wrapper {
  // max-width: 1440px;
  width: 100%;
  margin: 0 auto;
}

.section {
  padding: 4rem 0 2rem;
}

.container {
  max-width: 1170px;
  margin: 0 auto;
  padding: 0 15px;
}

.btn {
  padding: 15px 25px;
  background: $gradientColor;
  border-radius: 50px;
  border: none;
  cursor: pointer;
  text-transform: uppercase;
  white-space: nowrap;
  overflow: hidden;

  &:hover {
    background: $SecondaryColor;
  }

  &--primary {
    font-weight: 600;
    color: $whiteColor;
  }

  &--outline {
    background-color: transparent;
    color: $SecondaryColor;
    font-weight: 500;
    border: 1px solid;
  }

  &--rounded {
    border-radius: 10px;
    padding: 17px 65px;
  }

  &--shadow {
    position: relative;
  }
}

button {
  cursor: pointer;
  outline: none;
  border: none;
  font-family: $font;
}

.icon {
  color: $PrimaryColor;
}