.header {
  position: fixed;
  padding-top: 20px;
  padding-bottom: 20px;
  background: $whiteColorDeam;
  width: 100%;
  box-shadow: 0 2px 4px rgba(2, 15, 29, 0.9);

  &-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &-logo {
    font-size: 40px;
    display: flex;
    cursor: pointer;
    color: $blackColor;
    gap: 10px;
    font-weight: 700;
  }
}