.navbar {
  &-list {
    display: flex;
    align-items: center;
    list-style: none;
    gap: 0 40px;
  }

  &-link {
    color: $textColor;
    display: inline-block;
  }

  &-toggle {
    display: none;
    width: 100%;
    height: 100%;
  }

  &-close {
    font-size: 30px;
    cursor: pointer;
    display: none;
  }

  &-item--btn {
    display: none;
  }
}

// Hover với media
@media (hover:hover) {
  .navbar-link {
    position: relative;
    transition: all 0.2s linear;

    &::after {
      content: "";
      position: absolute;
      bottom: -10px;
      left: auto;
      right: 0;
      width: 0;
      height: 3px;
      background-color: $PrimaryColor;
      transition: all 0.2s linear;
    }

    &:hover {
      color: $PrimaryColor;

      &::after {
        width: 100%;
        left: 0;
        right: auto;
      }
    }
  }
}

@media screen and (max-width: 767px) {
  .header-logo {
    gap: 10px;
    font-size: 35px;
  }

  .navbar {
    position: absolute;
    top: calc(30px + 88px);
    left: 50%;
    width: 80%;
    gap: 0 15px;
    border-radius: 10px;
    transform: translate(100%);
    box-shadow: 0 2px 4px rgba(2, 15, 29, 0.9);
    transition: .3s ease-in-out;

    &.is-show {
      transform: translate(-50%);
    }

    &-list {
      display: flex;
      flex-direction: column;
      width: 100%;
      gap: 30px;
      margin-top: 30px;
      white-space: nowrap;
    }

    &-link {
      width: 100%;
      padding: 0 10px;
      font-size: 18px;
      font-weight: 600;
    }

    &-toggle {
      display: flex;
      justify-content: end;
      font-size: 30px;
      color: $blackColor;
      cursor: pointer;
    }


    &-item.navbar-item--btn {
      display: inline-flex;

      & a {
        padding: 12px 15px;
        font-size: 16px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        margin-bottom: 30px;
        border: 5px solid $blackColor;
        box-shadow: 0 0 0 10px $whiteColor;
        transition: 0.5s;

        &:hover {
          letter-spacing: 0.2rem;
          background: $SecondaryColor;
        }
      }
    }

    &-btn {
      display: none;
    }

    &-close {
      display: inline-block;
      position: absolute;
      top: 20px;
      right: 5%;
      font-size: 30px;
      color: $PrimaryColor;

      &:hover {
        opacity: 0.8;
      }
    }
  }
}